*.nupkg
*.suo
*.wixobj
.vs
_ReSharper.Caches
bin
build/Build/Build.sln.DotSettings.user
build/Build/packages/
builds
integrations/CloudConvert/AdvancedMD/getPatientData.xml
integrations/CloudConvert/AdvancedMD/Properties/Settings.Designer.cs
integrations/CloudConvert/AdvancedMD/Properties/Settings.settings
integrations/CloudConvert/AdvancedMD/temp.xml
integrations/Cumulus/Cumulus/*/packages
integrations/Cumulus/Cumulus/packages
obj
obj.Temp
obj.Wpf
qa/BreviumTest/packages/
Release
Releases
reporting/ESP/GenerateESPWorkbook/packages/
reporting/VoyagerMonitor/packages
Salesforce/SFCode/.metadata
sql/script_contact - sa.bat
support/Heliosphere/packages
ui/Brevium/packages/squirrel.windows.1.8.0/squirrel.windows.1.8.0/tools/SquirrelSetup.log
ui/Brevium/Releases/
ui/Brevium/SquirrelSetup.log
wix/File/DevExpress.Data.v12.2.dll
wix/File/DevExpress.Xpf.Controls.v12.2.dll
wix/File/DevExpress.Xpf.Core.v12.2.dll
wix/File/EntityFramework.dll
wix/File/EntityFramework.SqlServer.dll
wix/File/lock.ico
wix/File/SecureConnect.exe
www/ContactServerWebhooks/packages/repositories.config
services/ContactService/ContactToolbelt/packages/
services/SFService/packages/
reporting/VoyagerMonitor/VoyagerMonitor/App_Data/
*.DotSettings.user
ui/Brevium/packages/
*.user
services/GroundControl/packages/
Salesforce/SFUtil/packages/
Salesforce/SFUtil/SFUtil/Web References/*/*.datasource
Salesforce/SFUtil/SFUtil/Web References/*/*.map
Salesforce/SFUtil/SFUtil/Web References/*/*.wsdl
integrations/Cumulus/Cumulus/ModMed/packages/
Salesforce/SFTools/packages/
ui/Recall/packages/
ui/Recall/BreviumService/packages/
.idea/
build/Build/*/packages/
Debug.AnyCPU*
ui/Brevium/Brevium/Properties/launchSettings.json
node_modules
**/Publish*/*